.card-1 {
  background-image: url("./Pictures/unowned-cats-6-650x500.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-2 {
  background-image: url("./Pictures/unowned-cats-1-650x500.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-3 {
  background-image: url("./Pictures/unowned-cats-39-650x500.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-4 {
  background-image: url("./Pictures/unowned-cats-33-650x500.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
